version: '3.8'

services:
  # 1. MongoDB 
  weather_mongodb:
    image: mongo:latest
    container_name: weather_mongodb
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongouser
      - MONGO_INITDB_ROOT_PASSWORD=mongopass

  # 2. RabbitMQ 
  weather_rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: weather_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always

  # 3. Coleta de Dados (Python)
  collector_python:
    build:
      context: ./collector-python
      dockerfile: Dockerfile
    container_name: weather_collector_python
    restart: on-failure
    depends_on:
      - weather_rabbitmq
    
    env_file:
      - ./collector-python/.env

    environment:
      RABBITMQ_HOST: weather_rabbitmq 

  # 4. Worker Go 
  worker_go:
    build:
      context: ./worker-go
      dockerfile: Dockerfile
    container_name: weather_worker_go
    restart: on-failure
    depends_on:
      - weather_rabbitmq 
    
    env_file:
      - ./worker-go/.env 

    environment:
     RABBITMQ_HOST: weather_rabbitmq
     RABBITMQ_USER: guest
     RABBITMQ_PASS: guest

  # 5. API (NestJS)
  weather_nestjs_api:
    build:
      context: ./backend-nestjs
      dockerfile: Dockerfile
    container_name: weather_nestjs_api
    ports:
      - "3000:3000"
    depends_on:
      - weather_mongodb
      - weather_rabbitmq
    restart: on-failure
    
    env_file:
      - ./backend-nestjs/.env
    
    

  # 6. Frontend (React/Vite)
  weather_frontend_react:
    build:
      context: ./frontend-react
      dockerfile: Dockerfile
    container_name: weather_frontend_react
    ports:
      - "5173:80"
    depends_on:
      - weather_nestjs_api
    restart: on-failure